rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /wc-rankings/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /wc-rankings-wc/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
